body{
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    font-size: 14px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    min-width: 325px;
    width: 325px;
    height: auto;
    margin-top: 75px;
    border-radius: 5%;
    padding: 20px;
    border: black solid 2px;
    box-shadow: 8px 8px;
}

.mainpic{
    display: flex;
    justify-content: center;
}

#picture{
    border-radius: 4%;
    width: 325px;
    height: auto;
}
#learning{
    background-color: hsl(47, 88%, 63%);
    width: 60px;
    padding: 8px;
    margin-top: 20px;
    text-align: center;
    font-weight: 800;
    border-radius: 7%;
    /* font-size: 14px !important; */
}

#biggest {
    font-weight: 800 !important;
    font-size: x-large !important;
}
.greghooper{
    display: flex;
    align-items: center;
    font-weight: 800;
}
span{
    padding-right: 10px;
}
#gryeish{
    color: hsl(0, 0%, 42%);
    font-size: 16px !important;
}
#published{
    /* font-size: 14px !important; */
    font-weight: 500 ;
}



.attribution { font-size: 11px; text-align: center; margin-top: 10px; }
.attribution a { color: hsl(228, 45%, 44%); }