body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    font-size: 14px;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 325px;
    height: auto;
    margin-top: 200px;
    border-radius: 5%;
    padding: 20px;
    border: black solid 1px;
    box-shadow: 8px 8px;
}

.mainpic {
    display: flex;
    justify-content: center;
}

#picture {
    border-radius: 4%;
    width: 100%;
    height: auto;
}

/* Add media query for smaller screens */
@media screen and (max-width: 375px) {
    .card {
        margin-top: 2rem;
        padding: 15px;
        box-shadow: 6px 6px;
    }

    #learning {
        padding: 6px;
        width: 50px;
        font-size: 12px;
    }

    #biggest {
        font-size: large !important;
    }

    #gryeish {
        font-size: 14px !important;
    }

    .greghooper {
        font-size: 13px;
    }
}

#learning {
    background-color: hsl(47, 88%, 63%);
    width: 60px;
    padding: 8px;
    margin-top: 20px;
    text-align: center;
    font-weight: 800;
    border-radius: 7%;
}

#biggest {
    font-weight: 800 !important;
    font-size: x-large !important;
}

.greghooper {
    display: flex;
    align-items: center;
    font-weight: 800;
}

span {
    padding-right: 10px;
}

#gryeish {
    color: hsl(0, 0%, 42%);
    font-size: 16px !important;
}

#published {
    font-weight: 500;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}